doctype html
html
	head
		title=title
		meta(application-name="Status board logo", 
			data-allows-resizing="NO", 
			data-default-size="4,4", 
			data-min-size="4,4", 
			data-max-size="4,4", 
			data-allows-scrolling="NO")
		link(rel='stylesheet', href='/stylesheet/style.css')
		body(style='height:250px;')
			div#logoTable
				div#logoTableCell
					img(src="/images/em_logo.png" width="150" height="150")